checkpoints
checkpoints_sp
*.pyc
*.pyo
*.o
*.so
*.a
**build
.vscode
.catkin_tools/
devel/
logs/
external.hpp
configs/
rangenet/rangenet_weights
fid_stats/
rangenet/rangenet_weights_sp
checkpoints_new_cond/
checkpoints_new_cond_no_label_norm/
checkpoints_new_lr/
checkpoints_sp_new_cond/
checkpoints_sp_new_cond_plus/
checkpoints_sp_no_label_norm/

